:root{
    --bg-light: #F8F9FA;
    --primary: #1B72E8;
    --secondary:#FFC107;
    --bg-dark: #051E34;

    --withe:#fff;
    --grey:#E5E5E5;
    --black:#001632;

   --green:#198754;
   --yellow:#FFC107;
   --red:#DC3545;
}

img{
    display: block;
    max-width: 100%;
}

[class*="bla"]{
    border: 2px dashed salmon;
}


/* ###########################################
LAYOUT RULES
########################################### */

.bla_main-container{
    height: 100vh;
}


.bla_header{
    background-color: var(--bg-light);
}

.bla_main{
    background-color: var(--primary);
    color: var(--withe);
}

.bla_sidebar{
    background-color: var(--bg-dark);
    color: var(--withe);
    width: 150px;
}

@media screen and (max-width:768px){

    .bla_sidebar{
        width: 68px;
    }

}


/* ###########################################
ELEMENT RULES
########################################### */


.bla_header img{
    display: block;
    max-width: 100%;
}


.bla_logo-mobile{
    height: 84px;
}
.bla_logo-extended{
    height: 50px;
    margin: 18px 0;
    margin-left: 18px;
}

