:root{
    --bg-light: #F8F9FA;
    --primary: #1B72E8;
    --secondary:#FFC107;
    --bg-dark: #051E34;

    --withe:#fff;
    --grey:#E5E5E5;
    --black:#001632;

   --green:#198754;
   --yellow:#FFC107;
   --red:#DC3545;
}