:root{
    --bg-light: #F8F9FA;
    --primary: #1B72E8;
    --alternative:#165BBA;
    --secondary:#FFC107;
    --bg-dark: #051E34;

    --withe:#fff;
    --grey:#E5E5E5;
    --black:#001632;

   --green:#198754;
   --yellow:#FFC107;
   --red:#DC3545;

   --bs-breadcrumb-divider:var(--withe);
}

img{
    display: block;
    max-width: 100%;
}

menu,
ul,
ol,
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}




/* ###########################################
LAYOUT RULES
########################################### */

.bla_main-container{
    height: 100vh;
}


.bla_header{
    background-color: var(--bg-light);
}

.bla_main{
    background-color: var(--bg-light);
    color:var(--black) ;
}

.bla_dashboard{
    background-color: var(--primary);
    color: var(--withe);
}

.bla_sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bg-dark);
    color: var(--withe);
    width: 150px;
}

.bla_stucked-bot{
    margin-top: 500px;
}



@media screen and (max-width:768px){

    .bla_sidebar{
        width: 68px;
    }

}


/* ###########################################
ELEMENT RULES
########################################### */


.bla_header img{
    display: block;
    max-width: 100%;
}


.bla_logo-mobile{
    height: 48px;
    margin:  0;
}
.bla_logo-extended{
    height: 32px;
    margin-left: 9px;
}

.bla_secondary-color{
    color: var(--secondary);
}

.btn-primary{
    background-color: var(--primary);
}

.btn-secondary{
    background-color: var(--secondary);
    color: var(--black);
    border: none;
}

.btn-alternative{
    background-color: var(--alternative);
    color: var(--withe);
}

.btn-icon{
    color: var(--withe);
}

.offcanvas{
    min-width: 50vw;
}

@media screen and (max-width:768px){

    .offcanvas{
        min-width: 100vw;
    }

}





/* ###########################################
DEBUG RULES
########################################### */

